* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.justifycenter {
  display: flex;
  justify-content: center;
}

textarea {
  width: 80%;
  resize: none;
}

.open-modal {
  font-size: 1.5rem;
  box-shadow: 5px 5px rgb(0, 0, 0);
  background-color: rgb(162, 211, 252);
  border: 0;
  border-radius: 0.25rem;
  margin: 1rem;
  padding: 0.7rem 2rem;
}

.background {
  display: flex;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(50, 50, 50, 0.9);
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgb(255, 255, 255);
  height: 20rem;
  width: 44rem;
  border-radius: 0.2rem;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.close-modal {
  color: black;
  background-color: white;
  border-color: black;
  margin-right: 4.5rem;
  padding: 5px 8px;
  box-shadow: 5px 5px rgb(0, 0, 0);
}

.hidden {
  display: none;
}

body {
  font-family: Ubuntu, sans-serif;
}

.column-seventh {
  flex-basis: calc(100% / 10);
  border: 1px solid black;
  padding: 2%;
  text-align: center;
}

.spacearound {
  display: flex;
  justify-content: space-around;
}

.marginabove {
  margin-top: 20px;
}

.marginbelow {
  margin-bottom: 20px;
}

.marginright {
  margin-right: 10px;
}

.fifth {
  flex-basis: calc(100% / 5);
}

table {
  border: 2px solid black;
  margin: 0;
  width: 70%;
  border-spacing: 0;
}

tr {
  height: 40px;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}

thead {
  background-color: gray;
  color: white;
}

.add-entry-heading {
  font-size: 2rem;
  font-weight: 300;
}

.justifyright {
  display: flex;
  justify-content: right;
}

#day {
  margin-left: 4.5rem;
}

.column-seventh:hover {
  background-color: lightgray;
  cursor: pointer;
}

.edit {
  background-color: rgb(162, 211, 252);
  padding: 4px 8px;
  box-shadow: 2px 2px black;
  border-radius: 2px;
}

td {
  padding-left: 6px;
}

th:first-child,
td:first-child {
  border-right: 2px solid black;
}

button:hover {
  cursor: pointer;
  background-color: darkblue;
  color: white;
}

td:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 10px;
}
